

<div id="pagewidth2">
<%= render(:partial => "shared/login_box2") %>
  <%= render(:partial => "shared/header2") %>
  <%= render(:partial => "shared/search_box") %>
<div style="height:4px"></div>
<div id="container">


<div id="pagewidth">

<h2>Your Custom Event groups (didjis)</h2>
<div class="guidance">Would we keep all the fun of creating and sharing these to ourselves?
<br />Of course not. Have at it. 
<br />Be your topic fashion, thieves, royalty, or knaves.<br /><br />
<br />
</div>
<div id="didji_list">
  <%= render(:partial => "list_my_didgis") %>
</div>
<br />
<%= button_to 'Create a new Didgi', :action => :new %>


</div>
</div><!--end container-->
</div><!--end pagewidth-->
</div>
<!--end cache block-->
