

<div id="pagewidth2">
<%= render(:partial => "shared/login_box2") %>
  <%= render(:partial => "shared/header2") %>
  <%= render(:partial => "shared/search_box") %>
<div style="height:4px"></div>
<div id="container">


<div id="pagewidth">

<h2>Your Custom Event groups (didjis)</h2>
<div class="guidance">Would we keep all the fun of creating and sharing these to ourselves?
<br />Of course not. Have at it. 
<br />Be your topic fashion, thieves, royalty, or knaves.<br /><br />
<br />
</div>
<table>
  <tr>
    <th>Author</th>
    <th>Id</th>
	  <th>Theme</th>
    <th></th>
    <th></th>
  </tr>

<% @my_digis.each do |my_digi| %>
  <tr>
    <td><%=h my_digi.author %></td>
  	<td><%=h my_digi.id %></td>
	  <td><%=h my_digi.theme %></td>
    <td ><%= button_to 'Preview', my_digi_path(my_digi), :method => :get  %></td>
    <td ><%= button_to 'Modify events', custom_events_my_digi_path(my_digi), :method => :get  %></td>
    <td width="100">&nbsp;</td>
    <td ><% if my_digi.public? %> <b>Public</b> <% else %><%= button_to 'Make Public', make_public_my_digi_path(my_digi), :confirm => 'Are you sure?'  %> <% end %></td>
    <td class="teenytext"><%= link_to 'Rename', edit_my_digi_path(my_digi) %></td>
    <td class="teenytext"><%= link_to 'Delete', my_digi, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= button_to 'Create a new Didgi', :action => :new %>


</div>
</div><!--end container-->
</div><!--end pagewidth-->
</div>
<!--end cache block-->
