<script type="text/javascript">
//Create Javascript array from Rails master event list.
var eventListBase = eval((<%= @eventsTimeBase.to_json %>));
eventsStartIdee = <%= @eventsStartIdee %>;
eventsEndIdee = <%= @eventsEndIdee %>;
var eventListSub = eval((<%= @eventsSourceList.to_json %>));
eventList = eventListBase.concat(eventListSub);	
didjiLength = <%= @my_digi.custom_events.length %>;
//How you test them:	
//alert(eventList[71]["event"].title);
lastPoints=0;
accumPoints = 0;
</script>



<div id="pagewidth2">
<%= render(:partial => "shared/login_box2") %>
<%= render(:partial => "shared/header2") %>
<div style="height:4px">
</div>
<div id="pagewidth">

<div id="container">

  <b>Author:</b>
  <%=h @my_digi.author %><br />
  <b>Group:</b>
  <%=h @my_digi.id %><br />

  <b>Theme:</b>
  <div class="digitheme">
  <%=h @my_digi.theme %>
</div>

</div>


<div id="scoring">
     <table border="0" height="100px"><tr><td id="table" border="0" width="140" valign="top" >
      <div class="scoringText" >Points:</div> <div id="displayPoints">0</div>
      <div id="displayGameTime">&nbsp;</div>
      </td>
      <td width="410">
      <div id="scoringCenter">
      <div id="correctGuesses">Correct:
      <div id="displayCorrect">  0</div>
     </div>  <!--end correctGuesses-->
     
    <div id="message">&nbsp;</div>
    </div>
    <!--end scoringCenter-->
    </td>

    </tr></table>
     </div>
<!--end scoring-->
<!-- Game area -->
<div id="game">
<div id="playArea">
<div id="popup">&nbsp;</div>

    <%= render(:partial => "search_box") %>
<div id="sourceListDiv" style="float:left;">
<div class="instructions">
<h4>How many can you get?<BR />
Click on the "W" if you need help.</h4>
</div><br />
<div id="message2">&nbsp;</div>
<ul class="sortabledemo" id="firstlist" style="height:150px;width:260px;">
<span class="style3">Drag Events from Here</span><br />
<div id="levelUp" ><br />You got them All!! 
</div>
<!-- @events.length -->
<!-- custom_event.sequences.first.position -->
<% logger.debug "@eventsSourceList: #{@eventsSourceList}" %>
<% for custom_event in @eventsSourceList %>
<% logger.info "&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&" %>
<% logger.debug "custom_event: #{custom_event.inspect}" %>
	<% logger.debug "@my_digi: #{@my_digi.inspect}" %>
    <li class=<% unless custom_event.scale %>"green" <% else %>"orange style7"<% end %>id="firstlist_<%= (custom_event.didji_position(@my_digi) + 5 )%>"><%= custom_event.title %><a href="<%= custom_event.wikip_url %>" title="Wikipedia"  rel="lyteframe" rev="width: 750px; height: 600px;"  >W</a></li>
  <% end %>

<div id="message4">Pretty good! You got 10!</div>
</ul>
</div>
<!--end sourceListDiv-->

<div id="rightmain">
  <div id="centercolfloatleft" style="float:left;">
   <div id="centerlistdiv" style="float:left">
     <ul class="sortabledemo" id="fourthlist" style="height:150px;width:250px;">
       <span class="style3">Put them in Order Here </span>
       <li class="orange style7" id="fourthlist_0">1000 B.C.</li>
       <li class="orange style7" id="fourthlist_1">500 B.C.</li>
       <li class="orange" id="fourthlist_2"><strong>1 AD </strong></li>
       <li class="orange style6" id="fourthlist_3">500 AD</li>
      <li class="orange style6" id="fourthlist_4">1000 AD</li>
      <li class="orange style6" id="fourthlist_5">1500 AD</li>
     </ul>
   </div>
  <!--end centerlistdiv-->
</div>
<!--end centercolfloatleft-->

	
</div><!--end  rightmain-->
<div id="rightcolumn" >
		<div id="ad1">

		 </div>
		  <!--end ad1-->

 </div>
  <!--end  rightcolumn-->
</div><!--end  playArea-->




<script type="text/javascript">
// <![CDATA[
   Sortable.create("firstlist",
     {dropOnEmpty:true,containment:["firstlist","fourthlist"],constraint:false, onChange: refresh});
        Sortable.create("fourthlist",
     {dropOnEmpty:true,handle:'handle',containment:["firstlist","fourthlist"],constraint:false, onUpdate: compare});
// ]]>
m4 = $('message');
</script>

</div><!--end game-->
</div><!--end container-->
</div><!--end pagewidth-->
</div>
<!--end cache block-->