<% title "Assessment" %>

<div id="level_info">



 <span class="style3">Bonus Points</span><br />
 <div id="levelUp" >
<%= link_to "Level Up! Level 3", { :action => "gameUpdate" }, :remote => 'true' %>
</div>

<div id="bonus" class="bonus">
<div class="roundedcornr_box_428578">
   <div class="roundedcornr_top_428578"><div class="rndcrnertopcontent" >Bonus</div></div>
      <div class="roundedcornr_content_428578">
      <div id = "bonus_content">
 	<p>You <i>were</i> dialed in, right?</p>
    <%= form_remote_tag(:update => "result",
                       :url => { :action => :bonus_result },
                       :position => "top" ) do %>

 <ol>  
   <% for question in @assessment.questions %>  
   <li> (<%= @bonus_round.points %> points) <%=  question.content %></li>  
   <ul>  
     <% for answer in question.answers %>  
       <%= radio_button_tag( (":date_choice" + question.id), answer.id %>) <%=  answer.content %>  
     <% end %>  
   </ul>  
   <% end %>  
 </ol>  
   <div id="result">
   <div id = "next"> <%= submit_tag "Gimme my bonus!" %></div>
   </div>
<% end %>
</div>
      </div>

   <div class="roundedcornr_bottom_428578"><div>
  Name:
  <%= @assessment.name %>

  Level:
  <%= @assessment.level %>
</div></div>
</div>

<p> </p>
<p> </p>
</div>
</div>
