<div id="level_info">



 <span class="style3">Bonus Points</span><br />
 <div id="levelUp" >
<%= link_to "Level Up! Level 3", { :action => "gameUpdate" }, :remote => 'true' %>
</div>

<div id="bonus" class="bonus">
<div class="roundedcornr_box_428578">
   <div class="roundedcornr_top_428578"><div class="rndcrnertopcontent" >Bonus</div></div>
      <div class="roundedcornr_content_428578">
      <div id = "bonus_content">
 	<p>You <i>were</i> dialed in, right?</p>
    <% form_remote_tag(:update => "result",
                       :url => { :action => :bonus2_result },
                       :position => "top" ) do %>

	1) (1000 bonus points) Columbus took Queen Isabella's money and went west in:	<br />
	<%= radio_button_tag :date_choice, :foo %> 1760
	<%= radio_button_tag :date_choice, :bar %> 1530
	<%= radio_button_tag :date_choice, :yep %> 1492
	<%= radio_button_tag :date_choice, :nope %> 1320 <br />
  <br />
  2) (2000 bonus points) Imperial Rome got the Sack in<br />
  <%= radio_button_tag :date2_choice, :choice_1 %> 500 BC
	<%= radio_button_tag :date2_choice, :choice_2 %> 43BC
	<%= radio_button_tag :date2_choice, :yep %> 410
	<%= radio_button_tag :date2_choice, :choice_4 %> 1200 <br />

   <div id="result">
   <div id = "next"> <%= submit_tag "Gimme my bonus!", :with => "'score='+accumPoints" %></div>
   </div>
<% end %>
</div>
      </div>

   <div class="roundedcornr_bottom_428578"><div></div></div>
</div>

<p> </p>
<p> </p>
</div>
</div>
