<% cache do %>
<script type="text/javascript">
eventList = eval((<%= raw @events[0..19].to_json.html_safe %>));
//alert(eventList[71]["event"].title);
eventsStartIdee = 6;
lastPoints=0;
accumPoints = 0;
</script>
<div id="pagewidth">
<div id="header100">
<h1>100 People</h1>
<h3>A simple game.<br />
One hundred of the most famous people of all time.</h3> 

Put them in order of what they did.

</div>

<!--end page header-->
<div id="container">
<div id="scoring">
     <table border="0" height="100px"><tr><td id="table" border="0" width="140" valign="top" >
      <div class="scoringText" >Points:</div> <div id="displayPoints">0</div>
      <div id="displayGameTime">&nbsp;</div>
      </td>
      <td width="410">
      <div id="scoringCenter">
      <div id="correctGuesses">Correct:
      <div id="displayCorrect">  0</div>
     </div>
     <!--end correctGuesses-->
    <div id="message">&nbsp;</div>
    </div>
    <!--end scoringCenter-->
    </td>
    <!--login box-->
    <td id="login_cell">
    	<div class="roundedcornr_box_160660">
   <div class="roundedcornr_top_160660">
   	<div>&nbsp;
   	</div>
	</div>
      <div class="roundedcornr_content_160660">
      <div id="login_message">
      <% end %>
    <% if logged_in? -%>
    <%= raw "Welcome back!<br />Logged in as <strong>#{current_account.username}</strong>" %> <span class="logout"><%= link_to "Logout", :logout %>
    &nbsp; &nbsp; &nbsp; <% if current_account.username == 'ej0c' %>  <%= link_to "Admin", :controller => 'admin', :action => 'index' %> <% end %></span><br />
<%= raw "High score:  <span id='highScore'>#{@current_game.high_score}</span>" %>  &nbsp; <%= link_to "My Account", :controller => 'myAccount', :action => 'index' %>  
       
       <% else -%>
    <%= link_to "Login", :controller => 'user_sessions', :action => 'new' %>  <%= link_to "Signup", :controller => 'accounts', :action => 'new' %>
    <% end -%>

        </div>      
      </div>
   <div class="roundedcornr_bottom_160660">
   	<div>
   	</div>
	</div>
</div><!--end login box-->
    </td>
    </tr></table>
     </div>
    <!--end scoring-->
<!-- Game area -->
<div id="game">
<div id="playArea">
<div id="popup">&nbsp;</div>

    <%= render(:partial => "search_box") %>
<div id="sourceListDiv" style="float:left;">
<div class="instructions">
<h4>Level 1: Five Easy Rock Stars<BR />
Click on the "W" if you need help.</h4>
</div><br />
<div id="message2">&nbsp;</div>
<ul class="sortabledemo" id="firstlist" style="height:150px;width:260px;">
<span class="style3">Drag Events from Here</span><br />
<div id="levelUp" ><br />You got them All!! <%= link_to "Go to Level 2",  { :action => "gameUpdate2" }, :remote => true, %> 
</div>
<!-- @events.length -->
<% for event in @events[6..19] %>
     <li class="green" id="firstlist_<%= event.idee %>"><%= event.title %><%= link_to "W", event.wikip_url, { :popup => ['Wikipedia', 'height=600,width=700'] } %>
</li>
  <% end %>

<div id="message4">If ur afraid, you can <%= link_to "Go to Level 2", :remote => true, :url => { :action => "gameUpdate2" }, :with => "'score='+accumPoints" %></div>
</ul>
</div>
<!--end sourceListDiv-->

<div id="rightmain">
  <div id="centercolfloatleft" style="float:left;">
   <div id="centerlistdiv" style="float:left">
     <ul class="sortabledemo" id="fourthlist" style="height:150px;width:250px;">
       <span class="style3">Put them in Order Here </span>
       <li class="orange style7" id="fourthlist_0">1000 B.C.</li>
       <li class="orange style7" id="fourthlist_1">500 B.C.</li>
       <li class="orange" id="fourthlist_2"><strong>1 AD </strong></li>
       <li class="orange style6" id="fourthlist_3">500 AD</li>
      <li class="orange style6" id="fourthlist_4">1000 AD</li>
      <li class="orange style6" id="fourthlist_5">1500 AD</li>
     </ul>
   </div>
  <!--end centerlistdiv-->
</div>
<!--end centercolfloatleft-->

	
</div><!--end  rightmain-->
<div id="rightcolumn" >
<div class="high_scores">
<span class="instructions"><b>How did you do?</b></span>
<table>
    <% @high_scores.each do |high_score| %>
    <TR><td><%= high_score.login %>:</td>
<td><%= high_score.high_score %></td></tr>
<% end %>
</table>
</div>
		<div class="ad_practice">
    <b>Too hard? Too easy?
    <p>
    Try one of these<br />whendidjis.</p></b>
    <% @didjis.each do |didji| %>
<%= button_to didji.theme, practice_path(didji), :method => :get, :class => 'preview_button' %>
<% end %>
<br />
<div class="instructions">Or, <%= button_to "Build Your Own",  { :controller => 'my_digis', :action => 'new'}, { :class => 'yourOwn' } %>
</div>
</div>
		  <!--end ad_practice-->

 </div>
  <!--end  rightcolumn-->
<!--
<script src="http://whendidji.uservoice.com/pages/general/widgets/tab.js?alignment=right&amp;color=FFFFFF" type="text/javascript">
</script>
</div>
-->
<!--end  rightcolumn-->

</div><!--end  playArea-->

<div id="userTalkeeee">
What?! You haven't <%= link_to "Invited Friends", :controller => 'myAccount', :action => 'index'  %> to the goodness of Whendidji? You selfish oaf, you!
</div>
<div id="suggestion1" valign="top">
What event do u think should b here?
<%= form_for(@event_suggestion) do |f| %>
  <%= f.error_messages %>


    <%= f.label :title %>
    <br />
    <%= f.text_field(:title , :size => 30) %>
<br />
    <%= f.label :comment %>
    <br />
    <%= f.text_area(:comment, :size => "30x4") %>

    <%= f.submit 'Create' %>

<% end %>

		</div>
<div id="imagesequence" >
	<img src="../images/150px-RamsesIIEgypt.jpg" width="150" align="top">
	<img src="../images/165px-Gerard_van_Honthorst_002.jpg" width="150" align="top">
	<img src="../images/250px-David_von_Michelangelo.jpg" width="150" align="top">
	<img src="../images/Cesar-sa_mort.jpg" width="150" align="top">
	<img src="../images/250px-As11-40-5886.jpg" width="150" align="top">
</div><!--end imagesequence-->


<script type="text/javascript">
// <![CDATA[
   Sortable.create("firstlist",
     {dropOnEmpty:true,containment:["firstlist","fourthlist"],constraint:false, onChange: refresh});
        Sortable.create("fourthlist",
     {dropOnEmpty:true,handle:'handle',containment:["firstlist","fourthlist"],constraint:false, onUpdate: compare});
// ]]>
m4 = $('message');
</script>

</div><!--end game-->
</div><!--end container-->
</div><!--end pagewidth-->
<!--end cache block-->