<!--login box-->
    	<div class="roundedcornr_box_160660">
   <div class="roundedcornr_top_160660">
   	<div>&nbsp;
   	</div>
	</div>
      <div class="roundedcornr_content_160660">
      <div id="login_message">

    <% if logged_in? -%>
    <%= "Welcome back!<br />Logged in as <strong>#{current_account.username}</strong>" %> <span class="logout"><%= link_to "Logout", :logout %></span><br />
  &nbsp; <%= link_to "My&nbsp;Account", :controller => 'myAccount', :action => 'index' %> 
&nbsp; <% if current_account.username == 'ej0c' %>  <%= link_to "Admin", :controller => 'admin', :action => 'index' %> <% end %>
       <% else -%>
    <%= link_to "Login", :controller => 'session', :action => 'new' %>  <%= link_to "Signup", :controller => 'users', :action => 'new' %>
    <% end -%>

        </div>      
      </div>
   <div class="roundedcornr_bottom_160660">
   	<div>
   	</div>
	</div>
</div><!--end login box-->