<!--login box-->
    	<div class="roundedcornr_box_160660">
   <div class="roundedcornr_top_160660">
   	<div>&nbsp;
   	</div>
	</div>
      <div class="roundedcornr_content_160660">
      <div id="login_message">

    <% if logged_in? -%>
    <%= raw "Welcome back!<br />Logged in as <strong>#{current_account.username}</strong>" %> <span class="logout"><%= link_to "Logout", :logout %>
    &nbsp; &nbsp; &nbsp; <% if current_account.username == 'ej0c' %>  <%= link_to "Admin", :controller => 'admin', :action => 'index' %> <% end %></span><br />
<%= raw "High score:  <span id='highScore'>#{@current_game.high_score}</span>" %>  &nbsp; <%= link_to "My Account", :controller => 'myAccount', :action => 'index' %>  
       
       <% else -%>
    <%= link_to "Login", :controller => 'user_sessions', :action => 'new' %>  <%= link_to "Signup", :controller => 'accounts', :action => 'new' %>
    <% end -%>

        </div>      
      </div>
   <div class="roundedcornr_bottom_160660">
   	<div>
   	</div>
	</div>
</div><!--end login box-->